################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/BUILDING-DYNAMIC-WEB-APPLICATIONS/config/applicationhost.config
