footer
{
    background-color: cadetblue;
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 10%;
    display: flex;
    
    color: lightgoldenrodyellow;
}

footer * /*"header *" means that the contents are referring to any element in the header*/
{
    display: inline;
    text-align: center;
}

footer li
{
    display: inline;
    margin: 30px 
}

body
{
    height: 135vh;
    font-family: serif;
    margin-bottom: 80px;
    padding: 20px;

}
